@model HomeWorkOutApi.NetCore.Models.ExerciseModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ExerciseModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tag)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tag)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfTimes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfTimes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsChoosen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsChoosen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seconds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seconds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageSource)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageSource)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
