@inject ExerciseService ExerciseService

<GridRow Type="flex" Justify="center">

    <Space Size="@size" Direction="DirectionVHType.Vertical">
        @if (exerciseList != null)
        {
            @foreach (ExerciseModel exercise in exerciseList)
            {
                <GridCol>
                    <SpaceItem>
                        <Card Style="width:300px" Title="@exercise.Name">
                            <Body>
                                <Space Size="@size" Direction="DirectionVHType.Vertical">
                                    <SpaceItem>
                                        <Image Src="@exercise.ImageSource" Width="250px" />
                                    </SpaceItem>
                                    <SpaceItem>
                                        <CardMeta Description="@exercise.Description" />
                                    </SpaceItem>
                                </Space>
                            </Body>
                            <Extra>
                                <a>More</a>
                            </Extra>
                        </Card>
                    </SpaceItem>
                </GridCol>
            }
        }
    </Space>
</GridRow>

@code {
    private string size = "large";
    private List<ExerciseModel> exerciseList;

    protected override async Task OnInitializedAsync()
    {
        exerciseList = ExerciseService.GetExerciseModels();
    }
}
